* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


$font-xsm: 12px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 18px;
$font-xlg: 20px;
$navbar-bg-col: black;
$items-bg-col: rgb(240, 240, 240);
$card-col: white;
$Full_Width:100%;

